@import "../../node_modules/bootstrap/scss/functions";
@import "../utils/variables";
@import "../utils/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../reboot/reboot";
@import "../base/rfs";
// @import "../../node_modules/bootstrap";

// @import "./layout/header.scss";
// @import "./layout/footer.scss";

// @import "./reboot.scss";
// @import "./pages/index.scss";
// @import "./pages/admin.scss";

// @import "./component/button.scss";
// @import "./component/ck-editor.scss";

// @import "../../node_modules/bootstrap";

@import "../base/base";
// @import "./component/table.scss";

body {
  font-family: "Noto Sans TC" !important;
  .wrap {
    max-width: 1920px;
    margin: 0 auto;

    .title {
      max-width: 1090px;
      padding-bottom: 180px;
      .click-ad {
        max-width: 50%;
      }
    }
    .intro-text {
      max-width: 1090px;
    }
    .sub {
      max-width: 260px;
      .icons img {
        max-width: 136px;
      }
    }
    .section1 {
      max-width: 41%;
    }
    .section2 {
      img {
        max-width: 100%;
      }
      &-text {
        max-width: 60%;
      }
    }
    .rounded-28 {
      border-radius: 28px;
    }
    ol {
      list-style-type: decimal;
    }
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      opacity: 70% !important ;
      color: black !important;
    }
  }
  button:hover {
    opacity: 70%;
  }
  .normal_ad {
    max-width: 100%;
    height: auto;
  }
  .logo {
    max-width: 100%;
  }

  .start-button {
    padding: 21px 275px;
  }
  .inner-shadow {
    // width: 150px;
    // height: 150px;
    box-shadow: inset gray 0px 0px 40px -12px;
  }
}
.float-box {
  width: 40%;
  img {
    width: 100%;
  }
  .cancel-button {
    width: 7%;
    height: auto;
  }
}
header {
  text-align: center;
  color: brown;
}
